h1 {
  font-size: 1.4rem;
}

body {
  margin: 0;
  background: #222;
  color: #fff;
  display: grid;
  justify-content: center;
  min-height: 95vh;
}
.header {
  text-align: center;
  margin-top: 10rem;
}
.input-container input {
  font-size: 1.4rem;
  text-align: center;
  padding: 8px;
  margin-bottom: 2rem;
}

.input__btn {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
}
.input__btn {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.input__btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.todo__list {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}
.todo__list h1 {
  margin-right: 10px;
}
.todo__list button {
  height: fit-content;
  margin-left: 2rem;
}
